// compose single container mau ơ xnap_compose_TAISupport_list()
xnap_return_et e2ap_compose_{{list_name}} (
                OSCTXT                        *p_asn1_ctx,
                OSRTDList                     *p_e2ap_{{list_name}},
                _e2ap_{{list_name}}_t       *p_{{list_name}}
            )
{
    e2ap_{{ie_from_type.ie_type}}      *p_{{ie_from_type.ie_type}} = NULL;
    OSRTDListNode                       *p_node = GNB_PNULL;
    UInt16                              t_count = XNAP_NULL;

    for(t_count=0; t_count< p_{{list_name}}->{{ie_from_type.field_name}}_count; t_count++)
    {
        rtxDListAllocNodeAndData(p_asn1_ctx,
                                e2ap_{{ie_from_type.ie_type}},
                                &p_node,
                                &p_{{ie_from_type.ie_type}});
        if(GNB_PNULL==p_node){
            /* not enough memory */
            XNAP_TRACE(XNAP_ERROR,"dungnm23 - %s: Memory allocation failed for e2ap_{{ie_from_type.ie_type}}",__FUNCTION__);
            return XNAP_FAILURE;
        }
        asn1Init_e2ap_{{ie_from_type.ie_type}}(p_{{ie_from_type.ie_type}});

        /*ENCODE FIELD*/
        // phải lấy thông tin sequence mà con của cái single container này :))   -> tạo các hàm bé hơn như PDU í    
       
        //ENCODE ITEMIEs=============
        if(XNAP_FAILURE == e2ap_compose_{{ie_from_type.ie_type|replace("-","_")}}(p_asn1_ctx,
                                                                    p_{{ie_from_type.ie_type}},
                                                                    p_{{list_name}}->{{ie_from_type.field_name}}[t_count]))
        {
            XNAP_TRACE(XNAP_ERROR,"dungnm23 - %s: Encoding failed for field {{ie_from_type.ie_type}}",__FUNCTION__);
            rtFreeContext(p_asn1_ctx);
            return XNAP_FAILURE;
        }
        //end ENCODE ITEMIEs=============


        rtxDListAppendNode(p_e2ap_{{list_name}}, p_node);
    }
    XNAP_UT_TRACE_EXIT();
    return XNAP_SUCCESS;
}



