/*****************************************/
/*    {{message_name}}_protocolIEs_element     */
/*****************************************/
//message  -> tao emlement cho ban tin to nhat nhe

EXTERN int asn1PE_e2ap_{{message_name}}_protocolIEs_element (OSCTXT* pctxt, e2ap_{{message_name}}_protocolIEs_element* pvalue)
{
    int stat =0;

    /*encode id*/

    RTXCTXTPUSHELEMNAME(pctxt, "id");
        stat = asn1PE_e2ap_ProtocolIE_ID(pctxt, pvalue->id);//xoa con tro
        if(stat!=0) return LOG_RTERR(pctxt, stat);
    RTXCTXTPOPELEMNAME(pctxt);

    /*encode criticality*/
    RTXCTXTPUSHELEMNAME(pctxt, "criticality");
        stat = asn1PE_e2ap_Criticality(pctxt, pvalue->criticality);//xoa con tro
        if(stat!=0) return LOG_RTERR(pctxt, stat);
    RTXCTXTPOPELEMNAME(pctxt);

    /*encode value*/
    RTXCTXTPUSHELEMNAME(pctxt, "value");
        
    {
        OSCTXT lctxt;
        OSOCTET *pDynamicEncodeBuffer;
        ASN1OpenType openType;
        OSBOOL encoded = TRUE;

        openType.numocts = 0;
        openType.data =0;

        rtxCopyContext(&lctxt, pctxt);
        pctxt->pStream =0;

        stat = rtxInitContextBuffer(pctxt, 0, 0);
        if(stat!=0) return LOG_RTERR(pctxt, stat);

        switch(pvalue->value.t){
{% for ie in ies %}
            case T_E2AP_PDU_Contents_e2ap_{{ie.origin_name|replace('-', '_')}}_{{ ie.field|replace('-', '_') }}:
            {
                RTXCTXTPUSHELEMNAME (pctxt, "{{ie.field|replace('_', '-')}}");

                stat = asn1PE_e2ap_{{ie.ie_type|replace('-', '_')}} (pctxt, pvalue->value.u._e2ap_{{ies[0].origin_name|replace('-', '_') }}_{{ ie.field|replace('-', '_') }});
                if (stat != 0) return LOG_RTERR (pctxt, stat);

                RTXCTXTPOPELEMNAME (pctxt);
                break;
            }
{% endfor %}

            case T_E2AP_PDU_Contents_e2ap_{{ies[0].origin_name|replace('-', '_')}}_UNDEF_:
            {
                if(0!=pvalue->value.u.extElem1){
                    openType.numocts = pvalue->value.u.extElem1->numocts;
                    openType.data = pvalue->value.u.extElem1->data;
                } else {
                    /* No extension element to encode */
                }
                encoded = FALSE;
                break;
            }

            default:
                encoded = FALSE;
                stat = RTERR_INVOPT;
                break;
        } 

        if(encoded){
            openType.numocts = (OSUINT32)pe_GetMsgLen(pctxt);
            openType.data = pDynamicEncodeBuffer = pctxt -> buffer.data;
        }
        rtxCopyContext(pctxt, &lctxt);

        if(stat == 0) {
            stat = pe_OpenType (pctxt, openType.numocts, openType.data);
        }
    #if 1
        if(encoded){//dungnm23 check lai nhe
            rtxMemFreePtr(pctxt, pDynamicEncodeBuffer);
        }
    #endif

    }

    if(stat!=0) return LOG_RTERR(pctxt, stat);  
    RTXCTXTPOPELEMNAME(pctxt);
    return (stat);

}

EXTERN int  asn1PD_e2ap_{{message_name}}_protocolIEs_element (OSCTXT* pctxt, e2ap_{{message_name}}_protocolIEs_element* pvalue){
    int stat =0;

    /*decode id*/
    RTXCTXTPUSHELEMNAME(pctxt, "id");
        stat = asn1PD_e2ap_ProtocolIE_ID(pctxt, &pvalue->id);
        if(stat!=0) return LOG_RTERR(pctxt, stat);
    RTXCTXTPOPELEMNAME(pctxt);

    /*decode criticality*/
    RTXCTXTPUSHELEMNAME(pctxt, "criticality");
        stat = asn1PD_e2ap_Criticality(pctxt, &pvalue->criticality);
        if(stat!=0) return LOG_RTERR(pctxt, stat);
    RTXCTXTPOPELEMNAME(pctxt);

    /*decode value*/
    RTXCTXTPUSHELEMNAME(pctxt, "value");

    {
        OSUINT32 openTypeLen;
        size_t bitStartOffset, bitLength;

        stat = pd_UnconsLength(pctxt, &openTypeLen);
        if(stat<0) return LOG_RTERR(pctxt, stat);
        else if(stat == RT_OK_FRAG){
            rtxErrAddStrParm(pctxt, "open type with fragment length");
            return LOG_RTERRNEW(pctxt, RTERR_NOTSUPP);
        }
        bitStartOffset = PU_GETCTXTBITOFFSET(pctxt);
        bitLength = openTypeLen * 8;

        switch(pvalue->id){//dungnm23 check case lai nhe
{%for ie in ies%}        
            case ASN1V_e2ap_{{ie.field|replace('-', '_')}}:
            pvalue->value.t = T_E2AP_PDU_Contents_e2ap_{{ie.origin_name|replace('-', '_')}}_{{ ie.field|replace('-', '_') }};
            RTXCTXTPUSHELEMNAME(pctxt, "{{ie.field|replace('_', '-')}}");
            //pvalue->value.u._e2ap_{{ie.origin_name|replace('-', '_')}}_id_{{ ie.ie_type|replace('-', '_') }} 
             pvalue->value.u._e2ap_{{ies[0].origin_name|replace('-', '_') }}_{{ ie.field|replace('-', '_') }} = rtxMemAllocType(pctxt, e2ap_{{ie.ie_type|replace('-', '_')}});
{% if not (ie.primitive.isprimitive or ie.ie_type =="BIT STRING") %}
            //asn1Init_e2ap_{{ie.ie_type|replace('-', '_')}}(pvalue->
              //  value.u._e2ap_{{ie.origin_name|replace('-', '_')}}_id_{{ ie.ie_type|replace('-', '_') }});

                 asn1Init_e2ap_{{ie.ie_type|replace('-', '_')}}(pvalue->
                value.u._e2ap_{{ies[0].origin_name|replace('-', '_') }}_{{ ie.field|replace('-', '_') }});
{% endif %}
            stat = asn1PD_e2ap_{{ie.ie_type|replace('-', '_')}} (pctxt,
                (e2ap_{{ie.ie_type|replace('-', '_')}}*)pvalue->value.
                u._e2ap_{{ies[0].origin_name|replace('-', '_') }}_{{ ie.field|replace('-', '_') }});
            if(stat!=0) return LOG_RTERR(pctxt, stat);
            RTXCTXTPOPELEMNAME(pctxt);
            break;
    
{%endfor%}

        default:
            pvalue->value.t = T_E2AP_PDU_Contents_e2ap_{{ies[0].origin_name|replace('-', '_')}}_UNDEF_;
            pvalue->value.u.extElem1 = rtxMemAllocType(pctxt, ASN1OpenType);
            if(0==pvalue->value.u.extElem1){
                return LOG_RTERR(pctxt, RTERR_NOMEM);
            }

            {
                OSOCTET *pdata =(OSOCTET*) rtxMemAlloc(pctxt, openTypeLen);
                if(0==pdata){
                    return LOG_RTERR(pctxt, RTERR_NOMEM);
                }
                stat = rtxDecBitsToByteArray(pctxt, pdata, openTypeLen, openTypeLen*8);
                if(stat!=0){
                    rtxMemFreePtr(pctxt, pdata);
                    rtxMemFreePtr(pctxt, pvalue->value.u.extElem1);
                    return LOG_RTERR(pctxt, stat);
                }

                pvalue->value.u.extElem1->numocts = openTypeLen;
                pvalue->value.u.extElem1->data = pdata;
            }
            break;
    }
    {
    size_t bitEndOffset = PU_GETCTXTBITOFFSET(pctxt);
    size_t bitsConsumed = bitEndOffset-bitStartOffset;
    if(bitsConsumed<bitLength){
        stat = pd_moveBitCursor(pctxt, (int)(bitLength - bitsConsumed));
    }
    else stat =(bitsConsumed > bitLength) ? ASN_E_INVLEN : 0;
    }}
    if(stat!=0) return LOG_RTERR(pctxt, stat);
    RTXCTXTPOPELEMNAME(pctxt);
    return (stat);

}


int asn1Init_e2ap_{{message_name}}_protocolIEs_element(e2ap_{{message_name}}_protocolIEs_element* pvalue)
{
    if(0==pvalue) return RTERR_NULLPTR;
    OSCRTLMEMSET (&pvalue->value, 0, sizeof(pvalue->value));
    return 0;
}


//-----> chuaw có template rtxFreeASN1OpenType
#if 0
void asn1Free_e2ap_{{message_name}}_protocolIEs_element(OSCTXT* pctxt, e2ap_{{message_name}}_protocolIEs_element* pvalue)
{
    if(NULL==pvalue) return;
    switch(pvalue->value.t){
{% for ie in ies %}
        case T_E2AP_PDU_Contents_e2ap_{{ie.origin_name|replace('-', '_')}}_id_{{ ie.ie_type|replace('-', '_') }}:
            // rtxFreeE2ap_{{ie.ie_type|replace('-', '_')}}(pvalue->value.u._e2ap_{{ie.origin_name|replace('-', '_')}}_id_{{ ie.ie_type|replace('-', '_') }});

            if(pvalue->value.i._e2ap_{{ie.origin_name|replace('-', '_')}}_id_{{ ie.ie_type|replace('-', '_') }}!=NULL){
            asn1Free_e2ap_{{ie.ie_type|replace('-', '_')}}(pctxt, pvalue->value.u._e2ap_{{ie.origin_name|replace('-', '_')}}_id_{{ ie.ie_type|replace('-', '_') }});
            rtxMemFreePtr(pctxt, (void*)pvalue->value.u._e2ap_{{ie.origin_name|replace('-', '_')}}_id_{{ ie.ie_type|replace('-', '_') }});
           // pvalue->value.u._e2ap_{{ie.origin_name|replace('-', '_')}}_id_{{ ie.ie_type|replace('-', '_') }} = NULL;
           pvalue->value.u._e2ap_{{ies[0].origin_name|replace('-', '_')}}_{{ ie.field|replace('-', '_') }} = NULL;
            }
            break;
{% endfor %}
        case T_E2AP_PDU_Contents_e2ap_{{ies[0].origin_name|replace('-', '_')}}_UNDEF_:
            rtxFreeASN1OpenType(pvalue->value.u.extElem1);
            break;
        default:
            break;
    }
}

int asn1PrtToStr_e2ap_{{message_name}}_protocolIEs_element(OSCTXT* pctxt, e2ap_{{message_name}}_protocolIEs_element* pvalue)
{
    int stat =0;
    RTXCTXTPUSHELEMNAME(pctxt, "e2ap_{{message_name}}_protocolIEs_element");

    /*print id*/
    RTXCTXTPUSHELEMNAME(pctxt, "id");
        stat = asn1PrtToStr_e2ap_ProtocolIE_ID(pctxt, &pvalue->id);
        if(stat!=0) return LOG_RTERR(pctxt, stat);
    RTXCTXTPOPELEMNAME(pctxt);

    /*print criticality*/
    RTXCTXTPUSHELEMNAME(pctxt, "criticality");
        stat = asn1PrtToStr_e2ap_Criticality(pctxt, &pvalue->criticality);
        if(stat!=0) return LOG_RTERR(pctxt, stat);
    RTXCTXTPOPELEMNAME(pctxt);

    /*print value*/
    RTXCTXTPUSHELEMNAME(pctxt, "value");
        
        switch(pvalue->value.t){
{% for ie in ies %}
            case T_E2AP_PDU_Contents_e2ap_{{ie.origin_name|replace('-', '_')}}_id_{{ ie.ie_type|replace('-', '_') }}:
            {
                RTXCTXTPUSHELEMNAME (pctxt, "{{ie.ie_type|replace('_', '-')}}");

                stat = asn1PrtToStr_e2ap_{{ie.ie_type|replace('-', '_')}} (pctxt, pvalue->value.u._e2ap_{{ie.origin_name|replace('-', '_')}}_id_{{ ie.ie_type|replace('-', '_') }});
                if (stat != 0) return LOG_RTERR (pctxt, stat);

                RTXCTXTPOPELEMNAME (pctxt);
                break;
            }
{% endfor %}

            case T_E2AP_PDU_Contents_e2ap_{{ies[0].origin_name|replace('-', '_')}}_UNDEF_:
            {
                rtxPLogMsg(pctxt, "Extension element present - raw data not printed.\n");
                break;
            }

            default:
                stat = RTERR_INVOPT;
                return LOG_RTERR(pctxt, stat);
        }
    RTXCTXTPOPELEMNAME(pctxt);
    return (stat);
}
#endif


int asn1PrtToStr_e2ap_{{message_name}}_protocolIEs_element (const char * name,
 e2ap_{{message_name}}_protocolIEs_element* pvalue, 
 char * buffer, OSSIZE bufSize){
    if(rtPrintToStringOpenBrace(name, buffer, bufSize)<0)
        return -1;
    if(asn1PrtToStr_e2ap_ProtocolIE_ID("id", &pvalue->id, buffer, bufSize)<0)
        return -1;
    if(asn1PrtToStr_e2ap_Criticality("criticality", &pvalue->criticality, buffer, bufSize)<0)
        return -1;
    if(rtPrintToStringOpenBrace("value", buffer, bufSize)<0)
        return -1;

    switch(pvalue->value.t){
{% for ie in ies %}
        case T_E2AP_PDU_Contents_e2ap_{{ie.origin_name|replace('-', '_')}}_{{ ie.field|replace('-', '_') }}:
            if(asn1PrtToStr_e2ap_{{ie.ie_type|replace('-', '_')}}("{{ie.ie_type|replace('_', '-')}}", 
            pvalue->value.u._e2ap_{{ie.origin_name|replace('-', '_')}}_{{ ie.field|replace('-', '_') }}, buffer, bufSize)<0)
                return -1;
            break;    
{% endfor %}
        default:
        if(0!=pvalue -> value.u.extElem1){
            rtPrintToStringIndent(buffer, bufSize);
            rtPrintToStringHexStr("extElem1", pvalue->value.u.extElem1->numocts, pvalue->value.u.extElem1->data, buffer, bufSize);

        }
        }
    if(rtPrintToStringCloseBrace( buffer, bufSize)<0) return -1;
        if(rtPrintToStringCloseBrace( buffer, bufSize)<0) return -1;

    return 0;

 }

 void asn1Free_e2ap_{{message_name}}_protocolIEs_element(OSCTXT* pctxt, e2ap_{{message_name}}_protocolIEs_element* pvalue){
    if(NULL==pvalue) return;
    switch(pvalue->value.t){
{% for ie in ies %}
        case T_E2AP_PDU_Contents_e2ap_{{ie.origin_name|replace('-', '_')}}_{{ ie.field|replace('-', '_') }}:
            if(pvalue->value.u._e2ap_{{ie.origin_name|replace('-', '_')}}_{{ ie.field|replace('-', '_') }}!=NULL){
            asn1Free_e2ap_{{ie.ie_type|replace('-', '_')}}(pctxt, pvalue->value.u._e2ap_{{ie.origin_name|replace('-', '_')}}_{{ ie.field|replace('-', '_') }});
            rtxMemFreePtr(pctxt, (void*)pvalue->value.u._e2ap_{{ie.origin_name|replace('-', '_')}}_{{ ie.field|replace('-', '_') }});
            pvalue->value.u._e2ap_{{ie.origin_name|replace('-', '_')}}_{{ ie.field|replace('-', '_') }} = NULL;
            }
            break;
{% endfor %}
        default:
            break;


    }
 }