/*****************************************/
/*    {{message_name}}_protocolIEs_element     */
/*****************************************/
//message  -> tao emlement cho ban tin to nhat nhe
/*type was extract from {{message_name}}*/


typedef enum{
   T_E2AP_PDU_Contents_e2ap_{{ies[0].origin_name|replace('-', '_')}}_UNDEF_,
{% for ie in ies %}
   T_E2AP_PDU_Contents_e2ap_{{ies[0].origin_name|replace('-', '_')}}_{{ ie.field|replace('-', '_') }},

{% endfor %}
   T_E2AP_PDU_Contents_e2ap_{{ies[0].origin_name|replace('-', '_')}}_id_Extended_RANNodeName_

}e2ap_{{ies[0].origin_name|replace('-', '_')}}_TVALUE;


typedef struct EXTERN e2ap_{{message_name}}_protocolIEs_element {
   e2ap_ProtocolIE_ID id;
   e2ap_Criticality criticality;
   struct{
      e2ap_{{ies[0].origin_name|replace('-', '_')}}_TVALUE t;
      union {
{% for ie in ies %}
        /*
        *id: id-{{ ie.ie_type }}
        *criticality: {{ ie.critical }}
        *presence: {{ ie.presence }}
        */
        e2ap_{{ie.ie_type|replace('-', '_')}} *_e2ap_{{ies[0].origin_name|replace('-', '_') }}_{{ ie.field|replace('-', '_') }};


{% endfor %}

        ASN1OpenType* extElem1;  /* extension */
      } u;
   } value;
} e2ap_{{message_name}}_protocolIEs_element;


EXTERN int asn1PE_e2ap_{{message_name}}_protocolIEs_element (OSCTXT* pctxt, e2ap_{{message_name}}_protocolIEs_element* pvalue);
EXTERN int asn1PD_e2ap_{{message_name}}_protocolIEs_element (OSCTXT* pctxt, e2ap_{{message_name}}_protocolIEs_element* pvalue);
EXTERN int asn1Init_e2ap_{{message_name}}_protocolIEs_element (e2ap_{{message_name}}_protocolIEs_element* pvalue);
EXTERN void asn1Free_e2ap_{{message_name}}_protocolIEs_element (OSCTXT* pctxt, e2ap_{{message_name}}_protocolIEs_element* pvalue);
//EXTERN int asn1PrtToStr_e2ap_{{message_name}}_protocolIEs_element (OSCTXT* pctxt, e2ap_{{message_name}}_protocolIEs_element* pvalue);
EXTERN int asn1PrtToStr_e2ap_{{message_name}}_protocolIEs_element (const char * name, e2ap_{{message_name}}_protocolIEs_element* pvalue, char * buffer, OSSIZE bufSize);