/* e2ap_{{item_ies}}.h */
//protocol ie single

/*****************************************/
/*           {{item_ies}}                */
/*****************************************/
//->protocol_ie_single. ->  ELEM cho bản tin to

typedef struct e2ap_{{item_ies}}_Element {
    e2ap_ProtocolIE_ID_t id;
    e2ap_Criticality_t criticality;
    e2ap_{{item_ies}}_T_VALUE value;
} e2ap_{{item_ies}}_Element;

typedef struct e2ap_{{item_ies}} {
    e2ap_{{item_ies}}_Element elem;
} e2ap_{{item_ies}};

