/************************************************/
/*        PRIMITIVE - {{name}}               */
/************************************************/

/* {{name}}- {{metadata.primitive_name}}*/

{% if metadata.primitive_id ==  2%}{# BIT STRING A..B,...#}
typedef struct{
    UInt{{metadata.max |stdbit}} numbits;
    UInt8 data[{{ (metadata.max +7)//8 }}];
} _e2ap_{{name}}_t;// BIT STRING SIZE (A..B,...) - P  OK
{% endif %}{# end BIT STRING A..B,...#}
{% if metadata.primitive_id ==  3%}{# BIT STRING N  ?#}
typedef struct{
    UInt{{metadata.max |stdbit}} numbits;
    UInt8 data[{{ (metadata.max +7)//8 }}];
}_e2ap_{{name}}_t;// BIT STRING SIZE (N) - P  OK
{% endif %}{# end BIT STRING N  #}
{% if metadata.primitive_id ==  4%}{# BIT STRING A..B  ?#}
typedef struct{
    UInt{{metadata.max |stdbit}} numbits;
    UInt8 data[{{ (metadata.max +7)//8 }}];
}_e2ap_{{name}}_t;// BIT STRING SIZE (A..B) - P  OK
{% endif %}
{% if metadata.primitive_id == 5 %}{# INTERGER A..B,... ?#}
typedef UInt{{metadata.max|stdbit}} _e2ap_{{name}}_t; // INTEGER (A..B,...) - P  OK
{% endif %}
{% if metadata.primitive_id ==6 %}{# INTERGER A..B#} 
typedef UInt{{metadata.max|stdbit}} _e2ap_{{name}}_t;// INTEGER (A..B) - P  OK
{% endif %}
{% if metadata.primitive_id ==  8%}{# OCTET STRING SIZE N ? #}
typedef struct{
    //#define {{name}}_MAX_BYTES_DNM {{size}}
    //UInt8 {{name}}[{{name}}_MAX_BYTES_DNM];
    UInt32 numocts;
    UInt8 data[{{size}}];
}_e2ap_{{name}}_t; //OCTET STRING SIZE N - P - OK
{% endif %}
{% if metadata.primitive_id ==  9%}{# OCTET STRING ?#}
typedef struct{
    UInt32 numocts;
    UInt8 data[{{size }}];
}_e2ap_{{name}}_t; //OCTET STRING - P  OK
{% endif %}
{% if metadata.primitive_id == 10 %}{# Printable String A..B,...  ?#}
typedef const char* _e2ap_{{name}}_t;//Printable STRING SIZE (A..B,...) - P  OK
{% endif %} 
{% if metadata.primitive_id ==  13%}{# ENUMERATED  ?#}
typedef enum{
    {% for enum in items %}    
    E2AP_{{name|camel_to_upper_snake | replace("-", "_")}}_{{enum.name|camel_to_upper_snake | replace("-", "_")}} = {{enum.value}}{% if not loop.last %},{% endif %}
    {% endfor %}  

}_e2ap_{{name}}_et;// ENUMERATED - P  OK
{% endif %}


