{% if choices[0].note == "child_of_msg"%}
/*******************************************/
/*       IE - {{choices[0].dad_type_name}} - (IEs)               */
/******************************************/
typedef struct{
    // thiếu bitmask

{% set ns = namespace(bitmask_value_1=0, has_optional=false) %}

{% for f in choices %}
    {% if f.presence == "optional" %}
        {% set ns.has_optional = true %}
        {% set ns.bitmask_value_1 = ns.bitmask_value_1 + 1 %}
#define E2AP_{{ f.dad_type_name | camel_to_upper_snake }}_e2ap_{{ f.field_name | camel_to_upper_snake }}_PRESENT 0x{{ '%02X' % (2 ** (ns.bitmask_value_1 - 1)) }}
    {% endif %}
{% endfor %}

{% if ns.has_optional %}
    rrc_bitmask_t bitmask; /* BITMASK ^*/
{% endif %}

{% for d in choices %}
    _e2ap_{{ d.item_type }}_t {{ d.field_name }}; //e2ap_{item_type} {field_name} alias = {{ d.alias }}
{% endfor %}
}e2ap_{{ choices[0].dad_type_name }}_t;

{% endif %}