/*********************************************************/
/*        SINGLE CONTAINER - {{list_name}}     */
/*********************************************************/

typedef struct{
//#define MAX_NO_{{ie_from_type.field_name|camel_to_upper_snake}}_COUNT {{max_size|int}} // dungnm23 change to 1 if needed
#define MAX_NO_{{ie_from_type.field_name|camel_to_upper_snake}}_COUNT 1

  
    UInt{{max_size |int |stdbit}} {{ie_from_type.field_name}}_count;
    
    _e2ap_{{ie_from_type.ie_type}}_t {{ie_from_type.field_name}}[MAX_NO_{{ie_from_type.field_name|camel_to_upper_snake}}_COUNT];

}_e2ap_{{list_name}}_t;  //SINGLE CONTAINER   


