/* e2ap_{{name}}.c */

/*****************************************/
/*           {{name}}                */
/*****************************************/
// choice
// Các nội dung cần thiết cho template choice.c.j2
{% for primitive in primitive_files_data %}
    // Nội dung của file .c cho primitive {{ primitive.name }}
    {{ primitive.c_file_content }}
{% endfor %}

// Các phần còn lại của template choice.c.j2
{% if not extensible %}
// choice with extension typefef từ 1 -> mẫu từ PDU
EXTERN int asn1PE_e2ap_{{name}} (OSCTXT* pctxt, e2ap_{{name}}* pvalue)
{
   int stat = 0;
   OSBOOL extbit = FALSE;
   RTXCTXTPUSHTYPENAME (pctxt, "{{name|replace('_', '-')}}");

   {% set numbits = (choices|length -1).bit_length() %}
   extbit = (OSBOOL)(pvalue->t > {{choices|length -1}});
   stat = rtxEncBit (pctxt, extbit);
   if (stat != 0) return LOG_RTERR (pctxt, stat);

   if(!extbit){
      RTXCTXTPUSHELEMNAME (pctxt, "t");

      stat = rtxEncBits (pctxt, pvalue->t - 1, {{numbits}});// kha nang la numbits
      if (stat != 0) return LOG_RTERR (pctxt, stat);
      RTXCTXTPOPELEMNAME (pctxt);

      switch (pvalue->t) {
{% for choice in choices %}
      case {{(choice.tag+1)|int}}:
         RTXCTXTPUSHELEMNAME (pctxt, "{{choice.name|replace('_', '-')}}");
         {% if choice.primitive.isprimitive == False %}
         stat = asn1PE_e2ap_{{choice.type}} (pctxt, pvalue->u.{{choice.field|replace("-","_")}}); //not primitive
         {% else %}
         //primitive {{choice.primitive_meta.type}}
            {% if choice.primitive_meta.primitive_id == 3 %}
         stat = asn1PE_e2ap_{{name}}_{{choice.field|replace("-","_")}} (pctxt, &pvalue->u.{{choice.field|replace("-","_")}}); //bit string in choice type 3
            {% endif %}
            {% if choice.primitive_meta.primitive_id == 4 %}
         stat = asn1PE_e2ap_{{name}}_{{choice.field|replace("-","_")}} (pctxt, &pvalue->u.{{choice.field|replace("-","_")}}); //bit string in choice type 4
            {% endif %}
         {% endif %}
         if (stat != 0) return LOG_RTERR (pctxt, stat);
         RTXCTXTPOPELEMNAME (pctxt);
         break;
{% endfor %}
      default:
         return LOG_RTERR (pctxt, RTERR_INVOPT);
      }
   }else{
      stat = pe_SmallNonNegWholeNumber (pctxt, pvalue->t - {{choices|length}});// can xem lai
      if (stat != 0) return LOG_RTERR (pctxt, stat);

      RTXCTXTPUSHELEMNAME (pctxt, "...");
      stat = pe_OpenType (pctxt, pvalue->u.extElem1->numocts, pvalue->u.extElem1->data);
      if (stat != 0) return LOG_RTERR (pctxt, stat);
      RTXCTXTPOPELEMNAME (pctxt);
   }
   RTXCTXTPOPTYPENAME (pctxt);
   return stat;
}

EXTERN int asn1PD_e2ap_{{name}} (OSCTXT* pctxt, e2ap_{{name}}* pvalue)
{
   int stat = 0;
   OSUINT32 ui;
   OSBOOL extbit = FALSE;
   ASN1OpenType openType;
   RTXCTXTPUSHTYPENAME (pctxt, "{{name|replace('_', '-')}}");

   stat = DECBIT (pctxt, &extbit);
   if (stat != 0) return LOG_RTERR (pctxt, stat);

   if(!extbit){
      stat = rtxDecBits (pctxt, &ui, {{numbits}});// kha nang la numbits
      if (stat != 0) return LOG_RTERR (pctxt, stat);
      else pvalue->t = ui + 1;

      switch (ui)
      {
{% for choice in choices %}
      case {{choice.tag|int}}:
         RTXCTXTPUSHELEMNAME (pctxt, "{{choice.name|replace('_', '-')}}");


   {% if choice.primitive_meta.is ==False %}
         pvalue->u.{{choice.field|replace("-","_")}} = rtxMemAllocType (pctxt, e2ap_{{choice.type}});
         if (pvalue->u.{{choice.field|replace("-","_")}} == NULL) return LOG_RTERR (pctxt, RTERR_NOMEM);
         asn1Init_e2ap_{{choice.type}}(pvalue->u.{{choice.field|replace("-","_")}});
         stat = asn1PD_e2ap_{{choice.type}} (pctxt, pvalue->u.{{choice.field|replace("-","_")}});
   {% else %}
         pvalue->u.{{choice.field|replace("-","_")}} = rtxMemAllocType (pctxt, e2ap_{{name}}_{{choice.field|replace("-","_")}});
         if (pvalue->u.{{choice.field|replace("-","_")}} == NULL) return LOG_RTERR (pctxt, RTERR_NOMEM);
         //primitive {{choice.primitive_meta.type}}
         asn1Init_e2ap_{{name}}_{{choice.field|replace("-","_")}}(pvalue->u.{{choice.field|replace("-","_")}});
         stat = asn1PD_e2ap_{{name}}_{{choice.field|replace("-","_")}} (pctxt, pvalue->u.{{choice.field|replace("-","_")}});
   {% endif %}
         if (stat != 0) return LOG_RTERR (pctxt, stat);
         RTXCTXTPOPELEMNAME (pctxt);
         break;
{% endfor %}
      default:
         return LOG_RTERR (pctxt, RTERR_INVOPT);
      }
   }else{
      stat = pd_SmallNonNegWholeNumber (pctxt, &ui);
      if (stat != 0) return LOG_RTERR (pctxt, stat);
      else pvalue->t = ui + {{choices|length+1}};
      if(pvalue->t < {{choices|length +1}}){
         return LOG_RTERR (pctxt, RTERR_INVOPT);
      }
      stat = PD_BYTE_ALIGN (pctxt);
      if (stat != 0) return LOG_RTERR (pctxt, stat);
      RTXCTXTPUSHELEMNAME (pctxt, "...");
      stat = pd_OpenType (pctxt, &openType.data, &openType.numocts);
      if (stat != 0) return LOG_RTERR (pctxt, stat);
      pvalue->u.extElem1 = rtxMemAllocType (pctxt, ASN1OpenType);
      if (pvalue->u.extElem1 == NULL) return LOG_RTERR (pctxt, RTERR_NOMEM);
      pvalue->u.extElem1->numocts = openType.numocts;
      pvalue->u.extElem1->data = openType.data;
      RTXCTXTPOPELEMNAME (pctxt);
   }
   RTXCTXTPOPTYPENAME (pctxt);
   return (stat);
}

int asn1Init_e2ap_{{name}} (e2ap_{{name}}* pvalue)
{
   if (pvalue == 0) return RTERR_NULLPTR;
   pvalue->t = 0;
   OSCRTLMEMSET (&pvalue->u, 0, sizeof(pvalue->u));
   return 0;
}

void asn1Free_e2ap_{{name}} (OSCTXT* pctxt, e2ap_{{name}}* pvalue)
{
   if (pvalue == 0) return;
   switch (pvalue->t) {
      case 0: //no choice nothing to free
         break;
{% for choice in choices %}
      case {{(choice.tag+1)|int}}:
         if (pvalue->u.{{choice.field|replace("-","_")}}) {
            {% if choice.primitive_meta.is == False %}
            asn1Free_e2ap_{{choice.type}} (pctxt, pvalue->u.{{choice.field|replace("-","_")}});
            {% else %}
            //primitive {{choice.primitive_meta.type}}
               {% if choice.primitive_meta.primitive_id == 2 %}
            asn1Free_e2ap_{{name}}_{{choice.field|replace("-","_")}} (pctxt, pvalue->u.{{choice.field|replace("-","_")}});
               {% endif %}
            {% endif %}
            rtxMemFreePtr (pctxt, (void*)pvalue->u.{{choice.field|replace("-","_")}});
            pvalue->u.{{choice.field|replace("-","_")}} = 0;
         }
         break;
{% endfor %}
      default:
         if(0!=pvalue->u.extElem1){
            if(!rtxCtxtTestFlag(pctxt, ASN1FASTCOPY)){
               rtxMemFreePtr(pctxt, (void*)pvalue->u.extElem1->data);
               pvalue->u.extElem1->data = 0;
            }
            rtxMemFreePtr (pctxt, (void*)pvalue->u.extElem1);
            pvalue->u.extElem1 = 0;
         }
   }
}


int asn1PrtToStr_e2ap_{{name}} (const char* name, e2ap_{{name}}* pvalue, char* buffer, OSSIZE bufSize)
{
   if(rtPrintToStringOpenBrace(name, buffer, bufSize) < 0) return -1;
   

   switch (pvalue->t) {
{% for choice in choices %}
      case T_e2ap_{{name}}_{{choice.name|replace('-','')}}:
         {% if choice.primitive_meta.is == False %}
         if (asn1PrtToStr_e2ap_{{choice.type}} ( "{{choice.name}}", pvalue->u.{{choice.field|replace('-','_')}}, buffer, bufSize) < 0) return -1;
         {% else %}
         //primitive {{choice.primitive_meta.type}}
         asn1PrtToStr_e2ap_{{name}}_{{choice.field|replace("-","_")}} (pctxt, pvalue->u.{{choice.field|replace("-","_")}});
         {% endif %}
         break;
{% endfor %}
      case T_e2ap_{{name}}_extElem1:
         if(rtPrintToStringIndent(buffer, bufSize) < 0) return -1;
         if(rtPrintToStringHexStr("extElem1", pvalue->u.extElem1->numocts, pvalue->u.extElem1->data, buffer, bufSize) < 0) return -1;
         break;
      default:;
   }

   if(rtPrintToStringCloseBrace(buffer, bufSize) < 0) return -1;
   return 0;
}


{% else %}
// choice without extension

EXTERN int asn1PE_e2ap_{{name}} (OSCTXT* pctxt, e2ap_{{name}}* pvalue)
{
   int stat = 0;
   RTXCTXTPUSHTYPENAME (pctxt, "{{name|replace('_','-')}}");
   RTXCTXTPUSHELEMNAME (pctxt, "t");
   {% set numbits = (choices|length -1).bit_length() %} 
   stat = rtxEncBits (pctxt, pvalue->t - 1, {{numbits}});// kha nang la numbits
   if (stat != 0) return LOG_RTERR (pctxt, stat);
   RTXCTXTPOPELEMNAME (pctxt);

   switch (pvalue->t) {
{% for choice in choices %}
      case {{(choice.tag+1)|int}}:
         RTXCTXTPUSHELEMNAME (pctxt, "{{choice.name|replace('_', '-')}}");
         {% if choice.primitive.isprimitive == False %}
         stat = asn1PE_e2ap_{{choice.type}} (pctxt, pvalue->u.{{choice.field|replace("-","_")}}); //not primitive
         {% else %}
         //primitive {{choice.primitive_meta.type}} - id = {{ choice.primitive_meta.primitive_id }}
            {% if choice.primitive_meta.primitive_id == 3 %}
         stat = asn1PE_e2ap_{{name}}_{{choice.field|replace("-","_")}} (pctxt, &pvalue->u.{{choice.field|replace("-","_")}}); //bit string in choice type 3
            {% endif %}
            {% if choice.primitive_meta.primitive_id == 4 %}
         stat = asn1PE_e2ap_{{name}}_{{choice.field|replace("-","_")}} (pctxt, &pvalue->u.{{choice.field|replace("-","_")}}); //bit string in choice type 4
            {% endif %}
         {% endif %}
         if (stat != 0) return LOG_RTERR (pctxt, stat);
         RTXCTXTPOPELEMNAME (pctxt);
         break;
{% endfor %}
      default:
         return LOG_RTERR (pctxt, RTERR_INVOPT);
   }

   RTXCTXTPOPTYPENAME (pctxt);
   return (stat);
}

int asn1PD_e2ap_{{name}} (OSCTXT* pctxt, e2ap_{{name}}* pvalue)
{
   int stat = 0;
   OSUINT32 ui;
   RTXCTXTPUSHTYPENAME (pctxt, "{{name|replace('_','-')}}");

   {% set numbits = (choices|length -1).bit_length() %} 
   stat = rtxDecBits (pctxt, &ui, {{numbits}});// kha nang la numbits
   if (stat != 0) return LOG_RTERR (pctxt, stat);
   else pvalue->t = ui + 1;
   //RTXCTXTPOPELEMNAME (pctxt);

   switch (ui) {
{% for choice in choices %}
      case {{choice.tag|int}}:
         RTXCTXTPUSHELEMNAME (pctxt, "{{choice.name|replace('_', '-')}}");
   {% if choice.primitive_meta.is ==False %}
         pvalue->u.{{choice.field|replace("-","_")}} = rtxMemAllocType (pctxt, e2ap_{{choice.type}});
         if (pvalue->u.{{choice.field|replace("-","_")}} == NULL) return LOG_RTERR (pctxt, RTERR_NOMEM);
         asn1Init_e2ap_{{choice.type}}(pvalue->u.{{choice.field|replace("-","_")}});
         stat = asn1PD_e2ap_{{choice.type}} (pctxt, pvalue->u.{{choice.field|replace("-","_")}});
   {% else %}
         pvalue->u.{{choice.field|replace("-","_")}} = rtxMemAllocType (pctxt, e2ap_{{name}}_{{choice.field|replace("-","_")}});
         if (pvalue->u.{{choice.field|replace("-","_")}} == NULL) return LOG_RTERR (pctxt, RTERR_NOMEM);
         //primitive {{choice.primitive_meta.type}}
         asn1Init_e2ap_{{name}}_{{choice.field|replace("-","_")}}(pvalue->u.{{choice.field|replace("-","_")}});
         stat = asn1PD_e2ap_{{name}}_{{choice.field|replace("-","_")}} (pctxt, pvalue->u.{{choice.field|replace("-","_")}});
   {% endif %}
         if (stat != 0) return LOG_RTERR (pctxt, stat);
         RTXCTXTPOPELEMNAME (pctxt);
         break;
{% endfor %}
      default:
         return LOG_RTERR (pctxt, RTERR_INVOPT);
   }

   RTXCTXTPOPTYPENAME (pctxt);
   return (stat);
}

int asn1PrtToStr_e2ap_{{name}} (const char* name, e2ap_{{name}}* pvalue, char* buffer, OSSIZE bufSize)
{
   if(rtPrintToStringOpenBrace(name, buffer, bufSize) < 0) return -1;
   

   switch (pvalue->t) {
{% for choice in choices %}
      case T_e2ap_{{name}}_{{choice.name|replace('-','')}}:
         {% if choice.primitive_meta.is == False %}
         if (asn1PrtToStr_e2ap_{{choice.type}} ( "{{choice.name}}", pvalue->u.{{choice.field|replace('-','_')}}, buffer, bufSize) < 0) return -1;
         {% else %}
         //primitive {{choice.primitive_meta.type}}
         asn1PrtToStr_e2ap_{{name}}_{{choice.field|replace("-","_")}} (pctxt, pvalue->u.{{choice.field|replace("-","_")}});
         {% endif %}
         break;
{% endfor %}
      default:
         return RTERR_INVOPT;
   }

   if(rtPrintToStringCloseBrace(buffer, bufSize) < 0) return -1;
   return 0;
}

int asn1Init_e2ap_{{name}} (e2ap_{{name}}* pvalue)
{
   if (pvalue == 0) return RTERR_NULLPTR;
   pvalue->t = 0;
   OSRTLMEMSET (&pvalue->u, 0, sizeof(pvalue->u));
   return 0;
}


void asn1Free_e2ap_{{name}} (OSCTXT* pctxt, e2ap_{{name}}* pvalue)
{
   if (pvalue == 0) return;
   switch (pvalue->t) {
      case 0: //no choice nothing to free
         break;
{% for choice in choices %}
      case {{(choice.tag+1)|int}}:
         if (pvalue->u.{{choice.field|replace('-','_')}}) {
            {% if choice.primitive_meta.is == False %}
            //not primitive
            asn1Free_e2ap_{{choice.type}} (pctxt, pvalue->u.{{choice.field|replace('-','_')}});
            {% else %}
               {% if choice.primitive_meta.primitive_id == 2 %}
            //primitive {{choice.primitive_meta.type}}
            asn1Free_e2ap_{{name}}_{{choice.field|replace("-","_")}} (pctxt, pvalue->u.{{choice.field|replace('-','_')}});
               {% endif %}
            {% endif %}
            rtxMemFreePtr (pctxt, (void*)pvalue->u.{{choice.field|replace('-','_')}});
            pvalue->u.{{choice.field|replace('-','_')}} = 0;
         }
         break;
{% endfor %}
   }
}

{% endif %}