/*****************************************/
/*           {{ies_name}}                */
/*****************************************/
/* ie.h.j2 */
/* ie là con của msg + ie thường*/
typedef enum {
   T_E2AP_PDU_Contents_e2ap_{{ies_name}}_UNDEF_,
{% for d in choices %}
   {% if d.note == "child_of_msg"%}
   T_E2AP_PDU_Contents_e2ap_{{ ies_name }}_{{ d.field_name | replace('-', '_') }},
   {% else %}
   T_E2AP_PDU_Contents_e2ap_{{ ies_name }}_{{ d.item_type | replace('-', '_') }}{% if not loop.last %},{% endif %}
   {% endif %} 
{% endfor %}
{% if choices[0].note == "child_of_msg" %}
   T_E2AP_PDU_Contents_e2ap_{{ies_name}}_id_Extended_RANNodeName_
{% endif %} 
} e2ap_{{ies_name}}_TVALUE;

{% if choices[0].note == "child_of_msg" %} {#msg chill#}
typedef struct EXTERN e2ap_{{choices[0].dad_type_name|replace('-', '_')}}_protocolIEs_element {
   e2ap_ProtocolIE_ID id;
   e2ap_Criticality criticality;
   struct{
      e2ap_{{ies_name|replace('-', '_')}}_TVALUE t;
      union {
      {% for d in choices %}
        /*
        *id: id-{{ d.item_type }}
        *criticality: {{ d.critical }}
        *presence: {{ d.presence }}
        */
         e2ap_{{d.item_type|replace('-', '_')}} * _e2ap{{ ies_name }}_{{ d.field_name | replace('-', '_') }};
      {%endfor%}

         ASN1OpenType* extElem1;  /* extension */
      } u;
   }value;
} e2ap_{{choices[0].dad_type_name|replace('-', '_')}}_protocolIEs_element;

EXTERN int asn1PE_e2ap_{{choices[0].dad_type_name|replace('-', '_')}}_protocolIEs_element (OSCTXT* pctxt, e2ap_{{choices[0].dad_type_name|replace('-', '_')}}_protocolIEs_element* pvalue);
EXTERN int asn1PD_e2ap_{{choices[0].dad_type_name|replace('-', '_')}}_protocolIEs_element (OSCTXT* pctxt, e2ap_{{choices[0].dad_type_name|replace('-', '_')}}_protocolIEs_element* pvalue);
EXTERN int asn1Init_e2ap_{{choices[0].dad_type_name|replace('-', '_')}}_protocolIEs_element (e2ap_{{choices[0].dad_type_name|replace('-', '_')}}_protocolIEs_element* pvalue);
EXTERN void asn1Free_e2ap_{{choices[0].dad_type_name|replace('-', '_')}}_protocolIEs_element (OSCTXT* pctxt, e2ap_{{choices[0].dad_type_name|replace('-', '_')}}_protocolIEs_element* pvalue);
//EXTERN int asn1PrtToStr_e2ap_{{choices[0].dad_type_name|replace('-', '_')}}_protocolIEs_element (OSCTXT* pctxt, e2ap_{{choices[0].dad_type_name|replace('-', '_')}}_protocolIEs_element* pvalue);
EXTERN int asn1PrtToStr_e2ap_{{choices[0].dad_type_name|replace('-', '_')}}_protocolIEs_element (const char * name, e2ap_{{choices[0].dad_type_name|replace('-', '_')}}_protocolIEs_element* pvalue, char * buffer, OSSIZE bufSize);

{% else %}{#msg thường#}
typedef struct EXTERN e2ap_{{ies_name}} {
   e2ap_ProtocolIE_ID id;
   e2ap_Criticality criticality;
   struct{
      e2ap_{{ies_name|replace('-', '_')}}_TVALUE t;
      union {
      {% for d in choices %}
         e2ap_{{d.item_type|replace('-', '_')}} * _e2ap{{ ies_name }}_{{ d.item_type | replace('-', '_') }};
      {%endfor%}

         ASN1OpenType* extElem1;  /* extension */
      } u;
   }value;
} e2ap_{{ies_name}};

EXTERN int  asn1PE_e2ap_{{ies_name}} (OSCTXT* pctxt, e2ap_{{ies_name}}* pvalue);
EXTERN int  asn1PD_e2ap_{{ies_name}} (OSCTXT* pctxt, e2ap_{{ies_name}}* pvalue);
EXTERN void asn1Init_e2ap_{{ies_name}} (e2ap_{{ies_name}}* pvalue);
EXTERN void asn1Free_e2ap_{{ies_name}} (OSCTXT* pctxt, e2ap_{{ies_name}}* pvalue);
EXTERN int  asn1PrtToStr_e2ap_{{ies_name}} (const char * name, e2ap_{{ies_name}}* pvalue, char * buffer, OSSIZE bufSize);
{% endif %} 


