/*****************************************/
/*           {{name}}                */
/*****************************************/
//seq normal
// Các nội dung cần thiết cho template seq_normal.h.j2
{% for primitive in primitive_files_data %}
    // Nội dung của file .h cho primitive {{ primitive.name }}
    {{ primitive.h_file_content }}
{% endfor %}

// Các phần còn lại của template seq_normal.h.j2
typedef struct EXTERN e2ap_{{name}} {
{% for f in fields %}
{%if f.field == "protocolIEs" %} //special field protocolIEs
e2ap_{{name|replace('-', '_')}}_protocolIEs protocolIEs;
{% else %}
      {% if f.primitive_meta.is == False %}
      //not primitive
   e2ap_{{f.ie_type}} {{f.field |replace('-', '_')}};
      {% else %}
      //primitive
   e2ap_{{name}}_{{f.field |replace('-', '_')}} {{f.field |replace('-', '_')}};
      {% endif %}
{% endif %}
   {% if f.presence == "optional" %}   OSBOOL m_{{f.field}}Present;{% endif %}
{% endfor %}

   {% if extensible %}
   OSRTDList extElem1;  /* Extension elements */
    {% endif %}
} e2ap_{{name}};

EXTERN int asn1PE_e2ap_{{name}} (OSCTXT* pctxt, e2ap_{{name}}* pvalue);
EXTERN int asn1PD_e2ap_{{name}} (OSCTXT* pctxt, e2ap_{{name}}* pvalue);
EXTERN int asn1Init_e2ap_{{name}} (e2ap_{{name}}* pvalue);
EXTERN void asn1Free_e2ap_{{name}} (OSCTXT* pctxt, e2ap_{{name}}* pvalue);
EXTERN void asn1Print_e2ap_{{name}} (const char* name, const e2ap_{{name}}* pvalue);
EXTERN int asn1PrtToStr_e2ap_{{name}} (const char* name, e2ap_{{name}}* pvalue, char* buffer, OSSIZE bufSize);
EXTERN int asn1PrtToStrm_e2ap_{{name}} (OSCTXT* pctxt, const char* name, const e2ap_{{name}}* pvalue);
EXTERN int asn1Copy_e2ap_{{name}} (OSCTXT* pctxt, const e2ap_{{name}}* pSrcValue, e2ap_{{name}}* pDstValue);
