/************************************************************/
/*      SEQUENCE {{name}}                */
/************************************************************/

/* 1- compose primitive intergrate for sequence fields */
{% for f in fields %}{# 1 #}
    {% if f.primitive_meta.primitive_id != -1 %} {# primitive #}
    // id = {{f.primitive_meta.primitive_id}} - {{f.primitive.primitive_name}} - {{f.field}}
        {% if f.primitive_meta.primitive_id == 5 or f.primitive_meta.primitive_id == 6 %}{# INTEGER primitive #}
xnap_return_et e2ap_compose_{{name}}_{{f.field}}(
                    OSCTXT                       *p_asn1_ctx,
                    e2ap_{{name}}_{{f.field}}  *p_dest,//dest
                    _e2ap_{{name}}_{{f.field}}_t  *p_src//src
)
{
    *p_dest = (e2ap_{{name}}_{{f.field}})*p_src;
    return XNAP_SUCCESS;
}
        {% endif %} {# end INTEGER primitive #}
        {% if f.primitive_meta.primitive_id == 3 or f.primitive_meta.primitive_id == 4 %}{# BIT STRING 3+4primitive #}
xnap_return_et e2ap_compose_{{name}}_{{f.field}}(
                     OSCTXT                       *p_asn1_ctx,
                     e2ap_{{name}}_{{f.field}}                 *p_dest,//dest
                     _e2ap_{{name}}_{{f.field}}_t              *p_src//src
)
{
    memcpy(p_dest->data, p_src->data, (p_src->numbits +7)/8);// bug check lại xem phải số byte ko nhé
    p_dest->numbits = p_src->numbits;
    return XNAP_SUCCESS;
}
        {% endif %} {# end BIT STRING 3+4 primitive #}
        {% if f.primitive_meta.primitive_id == 2 %}{# BIT STRING 2 primitive #}
        {% endif %} {# end BIT STRING 2 primitive #}
        {% if f.primitive_meta.primitive_id == 9 %}{# OCTET STRING primitive #}
        {% endif %} {# end OCTET STRING primitive #}
        {% if f.primitive_meta.primitive_id == 8 %}{# OCTET STRING size N primitive #}
        {% endif %} {# end OCTET STRING size N primitive #}
        {% if f.primitive_meta.primitive_id == 10 %}{# Printable string primitive #}
        {% endif %} {# end Printable string primitive #}
        {% if f.primitive_meta.primitive_id == 13 %}{# ENUMERATED primitive #}
xnap_return_et e2ap_compose_{{name}}_{{f.field}}(
                OSCTXT                       *p_asn1_ctx,
                e2ap_{{name}}_{{f.field}}                 *p_dest,//dest
                _e2ap_{{name}}_{{f.field}}_et              *p_src//src
)
{
    *p_dest = (e2ap_{{name}}_{{f.field}})*p_src;
    return XNAP_SUCCESS;
}
        {% endif %} {# end ENUMERATED primitive #}
    
    {% endif %}
{% endfor %}{# End 1 #}


/* 2 - compose sequence */
xnap_return_et e2ap_compose_{{name}}(
                OSCTXT                        *p_asn1_ctx,
                e2ap_{{name}}                 *p_e2ap_{{name}}, //dest
                _e2ap_{{name}}_t              *p_{{name}} //src
)
{

//cần alloc node

{% for f in fields %}
    {  /*SEQ_ELEM-{{loop.index}}  Encode {{f.field_name}}*/
        {% if f.primitive.primitive_id ==-1 %}{#not primitive #}
        if(XNAP_FAILURE == e2ap_compose_{{f.ie_type|replace("-","_")}}(p_asn1_ctx,
                                                p_e2ap_{{name}}->{{f.field_name}},
                                                p_{{name}}->{{f.field_name}}))
        {
            XNAP_TRACE(XNAP_ERROR,"dungnm23 - %s: Encoding failed for field {{f.field_name}}",__FUNCTION__);
            return XNAP_FAILURE;
        }
        {% endif %}
        {% if f.primitive.primitive_id != -1 %} {#primitive #}
        if(XNAP_FAILURE == e2ap_compose_{{name}}_{{f.field_name}}(p_asn1_ctx,
                                                p_e2ap_{{name}}->{{f.field_name}},
                                                p_{{name}}->{{f.field_name}}))
        {
            XNAP_TRACE(XNAP_ERROR,"dungnm23 - %s: Encoding failed for field {{f.field_name}}",__FUNCTION__);
            return XNAP_FAILURE;
        }
        {% endif %}
    } /* end SEQ_ELEM-{{loop.index}}  Encode {{f.field_name}}*/

{% endfor%}

    // cần appendnode
    return XNAP_SUCCESS;
}   


