// compose single container mau ơ xnap_compose_TAISupport_list()
xnap_return_et e2ap_compose_{{list_name}} (
                OSCTXT                        *p_asn1_ctx,
                OSRTDList                     *p_e2ap_{{list_name}},
                _e2ap_{{list_name}}_t       *p_{{list_name}}
){
    e2ap_{{item_type | replace("-","_")}}   *p_{{item_type | replace("-","_")}} = NULL;
    OSRTDListNode                           *p_node_list = XNAP_P_NULL;
    UInt16                                   t_count = XNAP_NULL;
    for(t_count = 0; t_count < p_{{list_name}}->{{ie_from_type.field_name}}_count; t_count++)
    {
        rtxDListAllocNodeAndData(p_asn1_ctx,
                                e2ap_{{item_type | replace("-","_")}},
                                &p_node_list,
                                &p_{{item_type | replace("-","_")}});
        if(GNB_PNULL==p_node_list){
            XNAP_TRACE(XNAP_ERROR,"dungnm23 - %s: Memory allocation failed for e2ap_{{item_type}}",__FUNCTION__);
            return XNAP_FAILURE;
        }
        asn1Init_e2ap_{{item_type | replace("-","_")}}(p_{{item_type | replace("-","_")}});
        p_{{item_type | replace("-","_")}}->id = ASN1V_e2ap_{{ie_from_type.field_name}};
        p_{{item_type | replace("-","_")}}->criticality = e2ap_{{criticality}};
        p_{{item_type | replace("-","_")}}->value.t =  T_E2AP_PDU_Contents_e2ap_{{ item_ies|replace("-","_") }}_{{ ie_from_type.field_name | replace('-', '_') }};
        p_{{item_type | replace("-","_")}}->value.u._e2ap{{item_ies | replace("-", "_")}}_{{ ie_from_type.field_name | replace('-', '_') }}
                = rtxMemAllocType(p_asn1_ctx, e2ap_{{ie_from_type.ie_type | replace("-","_")}});
        if(GNB_PNULL==p_{{item_type | replace("-","_")}}->value.u._e2ap{{item_ies | replace("-", "_")}}_{{ ie_from_type.field_name | replace('-', '_') }}){
            XNAP_TRACE(XNAP_ERROR,"dungnm23 - %s: Memory allocation failed for e2ap_{{item_type}}",__FUNCTION__);
            rtFreeContext(p_asn1_ctx);
            return XNAP_FAILURE;
        }        

        /*ENCODE FIELD*/
        // phải lấy thông tin sequence mà con của cái single container này :))   -> tạo các hàm bé hơn như PDU í    

        //ENCODE ITEM=============
        if(XNAP_FAILURE == e2ap_compose_{{ie_from_type.ie_type}}(p_asn1_ctx,
                                                p_{{item_type | replace("-","_")}}->value.u._e2ap{{item_ies | replace("-", "_")}}_{{ ie_from_type.field_name | replace('-', '_') }},
                                                &p_{{list_name}}->{{ie_from_type.field_name}}[t_count]))
        {
            XNAP_TRACE(XNAP_ERROR,"dungnm23 - %s: Encoding failed for field {{item_type}}",__FUNCTION__);
            rtFreeContext(p_asn1_ctx);
            return XNAP_FAILURE;
        }
        rtxDListAppendNode(p_e2ap_{{list_name}}, p_node_list);
    }
    return XNAP_SUCCESS;
}



