/*****************************************************/
/*    COMPOSE PRIMITIVE {{name}}                             */
/*****************************************************/
/* compose primitive - id = {{metadata.primitive_id}} - {{metadata.primitive_name}} - {{name}}*/
{% if metadata.primitive_id == 4 or metadata.primitive_id == 3 %}
/* ---------------------------------------------------------------------- */
/*  BIT STRING SIZE N  & BIT STRING SIZE A..B  (primitive_id = 3,4)       */
/* ---------------------------------------------------------------------- */
xnap_return_et e2ap_compose_{{name}}(
                        OSCTXT            *p_asn1_ctx,
                        e2ap_{{name}}     *p_dest,
                        _e2ap_{{name}}_t  *p_src
){
    p_dest->numbits = p_src->numbits;
    XNAP_MEMCPY(p_dest->data, p_src->data, sizeof(p_src->data));

    #ifdef E2AP_COMPOSE_DEBUG_DUNGNM23
        XNAP_TRACE(XNAP_INFO, "%s: dungnm23_compose_debug BIT STRING {{name}} numbits=%u", __FUNCTION__, p_dest->numbits);
    #endif

    return XNAP_SUCCESS;
}
{% endif %}
{% if metadata.primitive_id == 2 %}
/* ---------------------------------------------------------------------- */
/*  BIT STRING SIZE (A..B,...) – DYNAMIC (primitive_id = 2)               */
/* ---------------------------------------------------------------------- */
xnap_return_et e2ap_compose_{{name}}(
                        OSCTXT            *p_asn1_ctx,
                        e2ap_{{name}}     *p_dest,
                        _e2ap_{{name}}_t  *p_src
){
    p_dest->numbits = p_src->numbits;

    /* kích thước tính theo số octet thực */
    size_t num_octet = (p_src->numbits + 7) / 8;

    p_dest->data = (OSOCTET*) rtxMemAllocZ(p_asn1_ctx, num_octet);
    if (!p_dest->data)
    {
        XNAP_TRACE(XNAP_ERROR,
                   "dungnm23 %s failed alloc in e2ap_compose_{{name}}",
                   __FUNCTION__);
        return XNAP_FAILURE;
    }

    XNAP_MEMCPY((void*)p_dest->data, p_src->data, num_octet);

    #ifdef E2AP_COMPOSE_DEBUG_DUNGNM23
        XNAP_TRACE(XNAP_INFO, "%s: dungnm23_compose_debugBIT STRING {{name}} numbits=%u", __FUNCTION__, p_dest->numbits);
    #endif    

    return XNAP_SUCCESS;
}
{% endif %}
{% if metadata.primitive_id == 5 or metadata.primitive_id == 6 %}
/* ---------------------------------------------------------------------- */
/*  INTEGER A..B hoặc integer N bits (primitive_id = 5,6)                 */
/* ---------------------------------------------------------------------- */
xnap_return_et e2ap_compose_{{name}}(
                        OSCTXT            *p_asn1_ctx,
                        e2ap_{{name}}     *p_dest,
                        _e2ap_{{name}}_t  *p_src
){
    *p_dest = (e2ap_{{name}})*p_src;

    #ifdef E2AP_COMPOSE_DEBUG_DUNGNM23
        XNAP_TRACE(XNAP_INFO, "%s: dungnm23_compose_debug INTEGER {{name}} value=%u", __FUNCTION__, *p_dest);
    #endif

    return XNAP_SUCCESS;
}
{% endif %}
{% if metadata.primitive_id == 13 %}
/* ---------------------------------------------------------------------- */
/*  ENUMERATED (primitive_id = 13)                                        */
/* ---------------------------------------------------------------------- */
xnap_return_et e2ap_compose_{{name}}(
                        OSCTXT            *p_asn1_ctx,
                        e2ap_{{name}}     *p_dest,
                        _e2ap_{{name}}_et *p_src
){
    *p_dest = (e2ap_{{name}})*p_src;

    #ifdef E2AP_COMPOSE_DEBUG_DUNGNM23
    XNAP_TRACE(XNAP_INFO, "%s:  dungnm23_compose_debug ENUMERATED {{name}} value=%u", __FUNCTION__, *p_dest);
    #endif
    
    return XNAP_SUCCESS;
}
{% endif %}
{% if metadata.primitive_id == 8 %}
/* ---------------------------------------------------------------------- */
/*  OCTET STRING SIZE(N) – FIXED (primitive_id = 8)                       */
/* ---------------------------------------------------------------------- */
xnap_return_et e2ap_compose_{{name}}(
                        OSCTXT            *p_asn1_ctx,
                        e2ap_{{name}}     *p_dest,
                        _e2ap_{{name}}_t  *p_src
){
    p_dest->numocts = p_src->numocts;  // hoặc {{size}}, tùy ASN
    XNAP_MEMCPY(p_dest->data, p_src->data, p_src->numocts);

    #ifdef  E2AP_COMPOSE_DEBUG_DUNGNM23
    XNAP_TRACE(XNAP_INFO, "%s:  dungnm23_compose_debug OCTET STRING {{name}} numocts=%u", __FUNCTION__, p_dest->numocts);
    #endif

    return XNAP_SUCCESS;
}
{% endif %}
{% if metadata.primitive_id == 9 %}
/* ---------------------------------------------------------------------- */
/*  OCTET STRING – dynamic (primitive_id = 9)                             */
/* ---------------------------------------------------------------------- */
xnap_return_et e2ap_compose_{{name}}(
                        OSCTXT            *p_asn1_ctx,
                        e2ap_{{name}}     *p_dest,
                        _e2ap_{{name}}_t  *p_src
){
    size_t num = p_src->numocts;

    p_dest->data = (OSOCTET*) rtxMemAllocZ(p_asn1_ctx, num);
    if (!p_dest->data)
    {
        XNAP_TRACE(XNAP_ERROR,
                   "%s alloc fail in e2ap_compose_{{name}}",
                    __FUNCTION__);
        return XNAP_FAILURE;
    }

    p_dest->numocts = num;
    XNAP_MEMCPY(p_dest->data, p_src->data, num);

    #ifdef  E2AP_COMPOSE_DEBUG_DUNGNM23
    XNAP_TRACE(XNAP_INFO, "%s:  dungnm23_compose_debug OCTET STRING {{name}} numocts=%u", __FUNCTION__, p_dest->numocts);
    #endif

    return XNAP_SUCCESS;
}
{% endif %}
{% if metadata.primitive_id == 10 %}
/* ---------------------------------------------------------------------- */
/*  PrintableString (primitive_id = 10)                                   */
/* ---------------------------------------------------------------------- */
xnap_return_et e2ap_compose_{{name}}(
                        OSCTXT            *p_asn1_ctx,
                        e2ap_{{name}}     *p_dest,
                        _e2ap_{{name}}_t  *p_src
){

    *p_dest = *p_src;
    #ifdef E2AP_COMPOSE_DEBUG_DUNGNM23
    XNAP_TRACE(XNAP_INFO, "%s:  dungnm23_compose_debug PrintableString {{name}} string =%s", __FUNCTION__, p_dest);
    #endif
    return XNAP_SUCCESS;
}
{% endif %}
