/************************************************************/
 /*      CHOICE {{name}}                */
 /************************************************************/
// compose choice trong xn thì mẫu là compose_globalNG_RAN_id()
/* 1 - compose primitive intergrate for choice fields */
{% for f in fields %}{# 1 #}
    {% if f.primitive_meta.primitive_id != -1 %} {# primitive #}
    // id = {{f.primitive_meta.primitive_id}} - {{f.primitive.primitive_name}} - {{f.field}}
        {% if f.primitive_meta.primitive_id == 5 or f.primitive_meta.primitive_id == 6 %}{# INTEGER primitive #}
xnap_return_et e2ap_compose_{{name}}_{{f.field}}(
                    OSCTXT                       *p_asn1_ctx,
                    e2ap_{{name}}_{{f.field}}  *p_dest,//dest
                    _e2ap_{{name}}_{{f.field}}_t  *p_src//src
)
{
    *p_dest = (e2ap_{{name}}_{{f.field}})*p_src;
    return XNAP_SUCCESS;
}
        {% endif %} {# end INTEGER primitive #}
        {% if f.primitive_meta.primitive_id == 3 or f.primitive_meta.primitive_id == 4 %}{# BIT STRING 3+4primitive #}
xnap_return_et e2ap_compose_{{name}}_{{f.field}}(
                     OSCTXT                       *p_asn1_ctx,
                     e2ap_{{name}}_{{f.field}}                 *p_dest,//dest
                     _e2ap_{{name}}_{{f.field}}_t              *p_src//src
)
{
    memcpy(p_dest->data, p_src->data, (p_src->numbits +7)/8);// bug check lại xem phải số byte ko nhé
    p_dest->numbits = p_src->numbits;
    return XNAP_SUCCESS;
}
        {% endif %} {# end BIT STRING 3+4 primitive #}
        {% if f.primitive_meta.primitive_id == 2 %}{# BIT STRING 2 primitive #}
        {% endif %} {# end BIT STRING 2 primitive #}
        {% if f.primitive_meta.primitive_id == 9 %}{# OCTET STRING primitive #}
        {% endif %} {# end OCTET STRING primitive #}
        {% if f.primitive_meta.primitive_id == 8 %}{# OCTET STRING size N primitive #}
        {% endif %} {# end OCTET STRING size N primitive #}
        {% if f.primitive_meta.primitive_id == 10 %}{# Printable string primitive #}
        {% endif %} {# end Printable string primitive #}
        {% if f.primitive_meta.primitive_id == 13 %}{# ENUMERATED primitive #}
xnap_return_et e2ap_compose_{{name}}_{{f.field}}(
                OSCTXT                       *p_asn1_ctx,
                e2ap_{{name}}_{{f.field}}                 *p_dest,//dest
                _e2ap_{{name}}_{{f.field}}_et              *p_src//src
)
{
    *p_dest = (e2ap_{{name}}_{{f.field}})*p_src;
    return XNAP_SUCCESS;
}
        {% endif %} {# end ENUMERATED primitive #}
    {% endif %}
{% endfor %}{# End 1 #}

/* 2 - compose choice */
xnap_return_et e2ap_compose_{{name}}(
                OSCTXT                        *p_asn1_ctx,
                e2ap_{{name}}             *p_e2ap_{{name}}, //dest
                _e2ap_{{name}}_t          *p_{{name}} //src
)
{
    p_e2ap_{{name}}->t =  p_{{name}}->choice_type;
    xnap_return_et retVal = XNAP_SUCCESS;

    switch(p_{{name}}->choice_type)
    {
        {% for f in choices %}
        /*CHOICE_INDEX-{{loop.index}}    {{f.field}}*/
        case E2AP_{{name|camel_to_upper_snake}}_e2ap_{{ f.field | replace('-', '_') | camel_to_upper_snake }}:
        {
            p_e2ap_{{name}}->t = T_e2ap_{{name}}_{{f.field |replace('-', '_')}} ;

            {% if not (f.primitive.isprimitive == True or f.alias != -1) %}{#not primitive #}
            /* == not primitive (SEQ or CHOICE)==*/
                /* 1.alloc mem */
            p_e2ap_{{name}}->u.{{f.field_name}} = rtxMemAllocType(p_asn1_ctx, e2ap_{{f.ie_type | replace("-","_")}});
            if(XNAP_P_NULL == p_e2ap_{{name}}->u.{{f.field_name}})
            {
                XNAP_TRACE(XNAP_ERROR  ,"%s: Memory allocation failed for field {{f.field_name}}",__FUNCTION__);
                return XNAP_FAILURE;
            }
                /* 2.init */
            asn1Init_e2ap_{{f.ie_type | replace("-","_")}}(p_e2ap_{{name}}->u.{{f.field_name}});
                /* 3.compose */
            if(XNAP_FAILURE == e2ap_compose_{{f.ie_type|replace("-","_")}}(p_asn1_ctx,
                                                    p_e2ap_{{name}}->u.{{f.field_name}},
                                                    &p_{{name}}->{{f.field_name}}))
            {
                XNAP_TRACE(XNAP_ERROR,"dungnm23 - %s: Encoding failed for field {{f.field_name}}",__FUNCTION__);
                return XNAP_FAILURE;
            }
            {% endif %}
            {% if (f.primitive.isprimitive == True) %}{#primitive in scope #}
            /*==primitive in scope==*/
            /* 1.alloc mem */
            p_e2ap_{{name}}->u.{{f.field_name}} = rtxMemAllocType(p_asn1_ctx,e2ap_{{name}}_{{f.field |replace('-', '_')}});
            if(XNAP_P_NULL == p_e2ap_{{name}}->u.{{f.field_name}})
            {
                XNAP_TRACE(XNAP_ERROR  ,"%s: Memory allocation failed for field {{f.field_name}}",__FUNCTION__);
                return XNAP_FAILURE;
            }
            /* 2.compose */
            if(XNAP_FAILURE == e2ap_compose_{{name}}_{{f.field_name}}(p_asn1_ctx,
                                                   p_e2ap_{{name}}->u.{{f.field_name}},
                                                   &p_{{name}}->{{f.field_name}}))
            {
                XNAP_TRACE(XNAP_ERROR,"dungnm23 - %s: Encoding failed for field {{f.field_name}}",__FUNCTION__);
                return XNAP_FAILURE;
            }
            {% endif %}{# end primitive in scope #}
            {% if (f.alias !=-1) %} {#primitive alias #}
            /*==primitive alias== */
            /* 1.alloc mem */
            p_e2ap_{{name}}->u.{{f.field_name}} = rtxMemAllocType(p_asn1_ctx,e2ap_{{f.ie_type |replace('-', '_')}});
            if(XNAP_P_NULL == p_e2ap_{{name}}->u.{{f.field_name}})
            {
                XNAP_TRACE(XNAP_ERROR  ,"%s: Memory allocation failed for field {{f.field_name}}",__FUNCTION__);
                return XNAP_FAILURE;
            }
            /* 2.compose */
            if(XNAP_FAILURE == e2ap_compose_{{f.ie_type}}(p_asn1_ctx,
                                                    p_e2ap_{{name}}->u.{{f.field_name}},
                                                    &p_{{name}}->{{f.field_name}}))
            {
                XNAP_TRACE(XNAP_ERROR,"dungnm23 - %s: Encoding failed for field {{f.field_name}}",__FUNCTION__);
                return XNAP_FAILURE;
            }
            {% endif %}{# end primitive alias #}
            break;
        }

        {% endfor %}
    }
    return retVal;
}