/*****************************************/
/*           {{name}}                */
/*****************************************/
{% if metadata.primitive_id == 3 %}{# =====================3=============== #}
//mau NID ben xn  bitstring (n)
typedef struct e2ap_{{name|replace("-","_")}} {
    OSUINT{{metadata.max|stdbit}} numbits;// co the la 64, check sau nhe
    OSOCTET data[{{(metadata.max+7)//8}}];
} e2ap_{{name|replace("-","_")}};

EXTERN int asn1PE_e2ap_{{name}}(OSCTXT* pctxt, e2ap_{{name}}* pvalue);
EXTERN int asn1PD_e2ap_{{name}}(OSCTXT* pctxt, e2ap_{{name}}* pvalue);
EXTERN int asn1PrtToStr_e2ap_{{name}} (const char* name, e2ap_{{name}}* pvalue, char* buffer, OSSIZE bufSize);
EXTERN int asn1PrtToStrm_e2ap_{{name}} (OSCTXT* pctxt, const char* name, const e2ap_{{name}}* pvalue);
EXTERN int asn1Copy_e2ap_{{name}}(OSCTXT* pctxt,const e2ap_{{name}}* pSrcValue,  e2ap_{{name}}* pDstValue);
EXTERN int asn1Init_e2ap_{{name}}(e2ap_{{name}}* pvalue);
{% endif %}
{% if metadata.primitive_id == 2 %}
//mau Transportlayeraddress xn bitstring (a..b,..)
typedef ASN1DynBitStr e2ap_{{name|replace("-","_")}};

EXTERN int asn1PE_e2ap_{{name}}(OSCTXT* pctxt, e2ap_{{name}} value);
EXTERN int asn1PD_e2ap_{{name}}(OSCTXT* pctxt, e2ap_{{name}}* pvalue);
EXTERN int asn1PrtToStr_e2ap_{{name}} (const char* name, e2ap_{{name}} *pvalue, char* buffer, OSSIZE bufSize);
EXTERN int asn1PrtToStrm_e2ap_{{name}} (OSCTXT* pctxt, const char* name, const e2ap_{{name}}* pvalue);
EXTERN int asn1Copy_e2ap_{{name}}(OSCTXT* pctxt,const e2ap_{{name}}* pSrcValue,  e2ap_{{name}}* pDstValue);
EXTERN int asn1Init_e2ap_{{name}}(e2ap_{{name}}* pvalue);
EXTERN void asn1Free_e2ap_{{name}}(OSCTXT* pctxt, e2ap_{{name}}* pvalue);
{% endif %}
{% if metadata.primitive_id == 4 %}{# =================4=================== #}
//type 4  mau la datatrafficresource bitstring (a..b)
typedef struct e2ap_{{name|replace("-","_")}} {
    OSUINT{{metadata.max|stdbit}} numbits;
    OSOCTET data[{{(metadata.max+7)//8}}];
} e2ap_{{name|replace("-","_")}};

EXTERN int asn1PE_e2ap_{{name}}(OSCTXT* pctxt, e2ap_{{name}}* pvalue);
EXTERN int asn1PD_e2ap_{{name}}(OSCTXT* pctxt, e2ap_{{name}}* pvalue);
EXTERN int asn1PrtToStr_e2ap_{{name}} (const char* name, e2ap_{{name}}* pvalue, char* buffer, OSSIZE bufSize);
EXTERN int asn1PrtToStrm_e2ap_{{name}} (OSCTXT* pctxt, const char* name, const e2ap_{{name}}* pvalue);
EXTERN int asn1Copy_e2ap_{{name}}(OSCTXT* pctxt,const e2ap_{{name}}* pSrcValue,  e2ap_{{name}}* pDstValue);
EXTERN int asn1Init_e2ap_{{name}}(e2ap_{{name}}* pvalue);
{% endif %}