 /*****************************************/
/*           {{metadata.field_name}}                */
/*****************************************/
//octet string intergrate 
//metadata.parsed.primitive_id == {{metadata.parsed.primitive_id}}

{% if metadata.parsed.primitive_id == 9 %}
//-> mau la measurementtimingconfiguration
EXTERN int asn1PE_e2ap_{{parent_name}}_{{metadata.field_name}} (OSCTXT* pctxt, e2ap_{{parent_name}}_{{metadata.field_name}} value){
    int stat =0;
    stat = pe_OctetString(pctxt, value.numocts, value.data);
    if(stat !=0) return LOG_RTERR(pctxt, stat);
    return stat;
}
EXTERN int asn1PD_e2ap_{{parent_name}}_{{metadata.field_name}} (OSCTXT* pctxt, e2ap_{{parent_name}}_{{metadata.field_name}}* pvalue){
    int stat =0;
    stat = pd_DynOctetString(pctxt, pvalue);
    if(stat !=0) return LOG_RTERR(pctxt, stat);
    return stat;
}
EXTERN int asn1PrtToStr_e2ap_{{parent_name}}_{{metadata.field_name}} (const char* name, e2ap_{{parent_name}}_{{metadata.field_name}} *pvalue, char* buffer, OSSIZE bufSize){
    if(rtPrintToStringIndent(buffer, bufSize) < 0) return -1;
    if(rtPrintToStringHexStr(name, pvalue->numocts, pvalue->data, buffer, bufSize) < 0) return -1;
    return 0;
}
EXTERN int asn1PrtToStrm_e2ap_{{parent_name}}_{{metadata.field_name}} (OSCTXT* pctxt, const char* name, const e2ap_{{parent_name}}_{{metadata.field_name}}* pvalue){
    int stat =0;
    rtPrintToStreamIndent(pctxt);
    rtPrintToStreamHexStr(pctxt, name, pvalue->numocts, pvalue->data);
    return stat;
}
EXTERN int asn1Copy_e2ap_{{parent_name}}_{{metadata.field_name}} (OSCTXT* pctxt, const e2ap_{{parent_name}}_{{metadata.field_name}}* pSrcValue, e2ap_{{parent_name}}_{{metadata.field_name}}* pDstValue);
EXTERN int asn1Init_e2ap_{{parent_name}}_{{metadata.field_name}} (e2ap_{{parent_name}}_{{metadata.field_name}}* pvalue){
    pvalue->numocts = 0;
    pvalue->data = 0;
    return 0;
}
EXTERN void asn1Free_e2ap_{{parent_name}}_{{metadata.field_name}} (OSCTXT* pctxt, e2ap_{{parent_name}}_{{metadata.field_name}}* pvalue){
    if(pvalue->numocts >0){
        rtFreeMemPtr(pctxt, (void*)pvalue->data);
        pvalue->numocts =0;
        pvalue->data =0;
    }
}
{% endif %}