/* e2ap_{{name}}.h */

//printable string
/*****************************************/
/*           {{name}}                */
/*****************************************/


typedef const char* e2ap_{{name}};

EXTERN int asn1PE_e2ap_{{name}} (OSCTXT* pctxt, e2ap_{{name}} value);
EXTERN int asn1PD_e2ap_{{name}} (OSCTXT* pctxt, e2ap_{{name}}* ppvalue);
EXTERN void asn1Print_e2ap_{{name}} (const char* name, e2ap_{{name}} pvalue);
EXTERN int asn1PrtToStr_e2ap_{{name}} (const char* name, e2ap_{{name}} pvalue, char* buffer, OSSIZE bufSize);
EXTERN int asn1PrtToStrm_e2ap_{{name}} (OSCTXT* pctxt, const char* name, e2ap_{{name}} pvalue);
EXTERN int asn1Copy_e2ap_{{name}} (OSCTXT* pctxt, e2ap_{{name}} pSrcValue, e2ap_{{name}}* pDstValue);
EXTERN void asn1Free_e2ap_{{name}} (OSCTXT* pctxt, e2ap_{{name}} pvalue);
EXTERN int asn1Init_e2ap_{{name}} (e2ap_{{name}}* pvalue);
